OPENFN_WEBHOOK_TRIGGER_URL=https://app.openfn.org/i/0620f146-e64e-4c7d-8e43-f3c7f99955c9
OPENFN_RELAY_DELAY=6000
DATABASE_HOST=172.17.0.1
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=registry
APP_PORT=8888
